In [46]:
from snowflake.snowpark import Session

In [47]:
connection_parameters = {
      "account": "jz67626.ap-southeast-1",
      "user": "soumakdas",
      "password": "Soumak94",
    "role": "ACCOUNTADMIN",
      "warehouse": "ETL_WH",
      "database": "STREAM_DEMO",
      "schema": "PUBLIC"
   }

In [58]:
new_session = Session.builder.configs(connection_parameters).create()

In [59]:
new_session.sql('CREATE OR REPLACE TABLE sample_product_data (id INT, parent_id INT, category_id INT, name VARCHAR, serial_number VARCHAR, key INT, "3rd" INT)').collect()

[Row(status='Table SAMPLE_PRODUCT_DATA successfully created.')]

In [54]:
new_session.sql("drop TABLE sample_product_data").collect()

[Row(status='SAMPLE_PRODUCT_DATA successfully dropped.')]

In [62]:
new_session.sql("select * from sample_product_data").collect()

[Row(ID=1, PARENT_ID=0, CATEGORY_ID=5, NAME='Product 1', SERIAL_NUMBER='prod-1', KEY=1, 3rd=10),
 Row(ID=2, PARENT_ID=1, CATEGORY_ID=5, NAME='Product 1A', SERIAL_NUMBER='prod-1-A', KEY=1, 3rd=20),
 Row(ID=3, PARENT_ID=1, CATEGORY_ID=5, NAME='Product 1B', SERIAL_NUMBER='prod-1-B', KEY=1, 3rd=30),
 Row(ID=4, PARENT_ID=0, CATEGORY_ID=10, NAME='Product 2', SERIAL_NUMBER='prod-2', KEY=2, 3rd=40),
 Row(ID=5, PARENT_ID=4, CATEGORY_ID=10, NAME='Product 2A', SERIAL_NUMBER='prod-2-A', KEY=2, 3rd=50),
 Row(ID=6, PARENT_ID=4, CATEGORY_ID=10, NAME='Product 2B', SERIAL_NUMBER='prod-2-B', KEY=2, 3rd=60),
 Row(ID=7, PARENT_ID=0, CATEGORY_ID=20, NAME='Product 3', SERIAL_NUMBER='prod-3', KEY=3, 3rd=70),
 Row(ID=8, PARENT_ID=7, CATEGORY_ID=20, NAME='Product 3A', SERIAL_NUMBER='prod-3-A', KEY=3, 3rd=80),
 Row(ID=9, PARENT_ID=7, CATEGORY_ID=20, NAME='Product 3B', SERIAL_NUMBER='prod-3-B', KEY=3, 3rd=90),
 Row(ID=10, PARENT_ID=0, CATEGORY_ID=50, NAME='Product 4', SERIAL_NUMBER='prod-4', KEY=4, 3rd=100),
 Row(ID=11, PARENT_ID=10, CATEGORY_ID=50, NAME='Product 4A', SERIAL_NUMBER='prod-4-A', KEY=4, 3rd=100),
 Row(ID=12, PARENT_ID=10, CATEGORY_ID=50, NAME='Product 4B', SERIAL_NUMBER='prod-4-B', KEY=4, 3rd=100)]

In [61]:
new_session.sql("INSERT INTO sample_product_data VALUES \
(1, 0, 5, 'Product 1', 'prod-1', 1, 10),\
(2, 1, 5, 'Product 1A', 'prod-1-A', 1, 20),\
  (3, 1, 5, 'Product 1B', 'prod-1-B', 1, 30),\
  (4, 0, 10, 'Product 2', 'prod-2', 2, 40),\
  (5, 4, 10, 'Product 2A', 'prod-2-A', 2, 50),\
  (6, 4, 10, 'Product 2B', 'prod-2-B', 2, 60),\
  (7, 0, 20, 'Product 3', 'prod-3', 3, 70),\
  (8, 7, 20, 'Product 3A', 'prod-3-A', 3, 80),\
  (9, 7, 20, 'Product 3B', 'prod-3-B', 3, 90),\
  (10, 0, 50, 'Product 4', 'prod-4', 4, 100),\
  (11, 10, 50, 'Product 4A', 'prod-4-A', 4, 100),\
  (12, 10, 50, 'Product 4B', 'prod-4-B', 4, 100)").collect()

[Row(number of rows inserted=12)]

In [64]:
new_session.sql("create stage my_new_stage_for_snowpark").collect()

[Row(status='Stage area MY_NEW_STAGE_FOR_SNOWPARK successfully created.')]

In [65]:
new_session.sql("show stages").collect()

[Row(created_on=datetime.datetime(2023, 9, 6, 9, 53, 16, 785000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), name='MY_NEW_STAGE_FOR_SNOWPARK', database_name='STREAM_DEMO', schema_name='PUBLIC', url='', has_credentials='N', has_encryption_key='N', owner='ACCOUNTADMIN', comment='', region=None, type='INTERNAL', cloud=None, notification_channel=None, storage_integration=None, owner_role_type='ROLE')]